h1 {color: rgb(211, 9, 211);
 background-color: pink;
font-weight: 1000;
font-style: italic;
text-align: center;
;}
body {background-color: plum;}
hr {border: 2px solid purple;}
p {color: darkmagenta;
    font-size: 20px;
    text-align: center;}
h2 {font-size: large;
font-weight: 300px;}
.off {position: absolute;
right: 40%; top: 22%;}
.gg {position: absolute;
left: 40%; top: 44%;}
.roblox {position: absolute;
left: 80%; top: 45%;}
.rob {position: absolute;
left: 72%; top: 22%;}
.brawl {position: absolute;
left: 6%; top: 44%;}